/* The default body background color */
body {
    background-color: #f0f0f0;
}

/* Use our new customizer color for all links */
a {
    color: var(--primary-accent-color);
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 0.8;
    }
}

/* Use the color for the site title too */
.site-title a {
    color: var(--primary-accent-color);
}