@use 'variables' as *;

.site-header {
	padding: $spacing-unit 0;
	background-color: var(--color-header-background-color);
	border-bottom: 1px solid $color-border;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-title {
	margin: 0;
	font-size: 2rem;
	font-weight: 700;

	a {
		color: var(--color-site-title-color);
		text-decoration: none;

		&:hover {
			opacity: 0.8;
		}
	}
}

.skip-link {
	position: absolute;
	left: -9999px;

	&:focus {
		left: 6px;
		top: 7px;
		background-color: var(--color-content-background-color);
		padding: 15px;
		z-index: 1000;
	}
}