@use 'variables' as *;

body {
    font-family: $font-stack-serif;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack-sans;
    line-height: 1.2;
}

// Link styles using the Customizer variable
a {
    color: var(--primary-accent-color);
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 0.8;
    }
}